# Statistical description on data

In [2]:
# Experiment No. : 03

In [4]:
# Aim: To perform operation of Statistical Description on Data

In [6]:
# Date: 19/07/2024

In [8]:
# Roll No. : 05

In [10]:
# Section : B

In [12]:
#Subject: ET - 1

In [14]:
import pandas as pd

In [16]:
import os

In [18]:
os.getcwd()

'C:\\Users\\yashc'

In [20]:
os.chdir("C:\\Users\\yashc\\OneDrive\\Desktop")

In [22]:
df=pd.read_csv("diabetes.csv")

In [24]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [26]:
df.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [28]:
# Range
range_value = df['Glucose'].max() - df['Glucose'].min()
print('Range:', range_value)

Range: 199

In [30]:
# Variance
variance_value = df['Glucose'].var()
print('Variance:', variance_value)

Variance: 1022.2483142519557

In [32]:
# Standard Deviation
std_dev_value = df['Glucose'].std()
print('Standard Deviation:', std_dev_value)

Standard Deviation: 31.97261819513622

In [34]:
# Mean Absolute Deviation
mad_value = (df['Glucose'] - df['Glucose'].mean()).abs().mean()
print('Mean Absolute Deviation:', mad_value)

Mean Absolute Deviation: 25.181793212890625